// you should normally have bootstraps sass variables loaded first
// but just incase these are the defaults
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;
$grid-columns:  12 !default;

@mixin container-xs-table
{
  @include container-table(xs);
}

@mixin container-sm-table
{
  @media (min-width: $screen-sm-min) {
    @include container-table(sm);
  }
}

@mixin container-md-table
{
  @media (min-width: $screen-md-min) {
    @include container-table(md);
  }
}

@mixin container-lg-table
{
  @media (min-width: $screen-lg-min) {
    @include container-table(lg);
  }
}

// internal mixins
//
@mixin container-table($tier) {
  @include container-table-base-rules;

  $i: 1;
  $list: ".col-#{$tier}-#{$i}";
  @for $i from 2 through $grid-columns {
    $list: "#{$list}, .col-#{$tier}-#{$i}";
  }

  .container-table > .row > {
    #{$list} {
      display: table-cell;
      float: none;
    }
  }
}

// only output base rules once
// 
$CONTAINERTABLEBASEWRITTEN: false;
@mixin container-table-base-rules
{
  @if not $CONTAINERTABLEBASEWRITTEN {
    .vertical-middle {
      vertical-align: middle;
    }
    .vertical-top {
      vertical-align: top;
    }
    .vertical-bottom {
      vertical-align: bottom;
    }

    .container-table {
      display:table;
      > .row {
        display: table-row;
      }
    }
    
    $CONTAINERTABLEBASEWRITTEN: true;
  }
}